<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>{{app_name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
        <meta http-equiv="cleartype" content="on">
        <meta name="description" content="" />
      	<meta name='keywords' content=''/>

        <link rel="author" href="/humans.txt">
        
        <link href="/css/main.css" rel="stylesheet">

        <meta property="og:title" content="SparkDash Mobile Analytics.">
        <meta property="og:type" content="company">
        <meta property="og:image" content="http://semanticpress.com/assets/img/logos/sparkdash.png">
        <meta property="og:site_name" content="SemanticPress.com">
        <meta property="og:url" content="http://SemanticPress.com/">
        <meta property="og:description" content="">   

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/img/logos/favicon.png" type="image/png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/logos/apple-touch-icon-144.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72.png">
        <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57.png">
    </head>

    <body controller="apps">
        
        <div id="layout" class="pure-g-r">

          <div id="main" class="pure-u-1">
            <div id="main-menu-container" class="pure-g">
              <div id="main-menu-tabs" class="pure-u-1">
                <nav>
                  <ul>
                    <li action="tab.launchpad"><a href="/">LaunchPad</a></li>
                    <li class="active" action="tab.apps"><a href="/apps">Apps</a></li>
                    <li action="tab.data"><a href="/data">Data</a></li>
                  </ul>
                </nav>
              </div>
              <div class="pure-u-1" style="text-align:center;padding:4px;font-size:18px;opacity:0.9;color:#fff;width:200px;margin:auto;">{{#domain}}{{title}}{{/domain}}</div>
              <div id="main-menu-login" class="pure-u-1">
                <nav>
                  <ul>
                    <li class="active" action="user.logout">sign out</li>
                  </ul>
                </nav>
              </div>
            </div>

            <div id="main-container" class="pure-g-r">
              
              <div class="content">
                
                {{#ifCond apps.length '==' 0}}
                    <h1 class="splash-head">You don't have any apps yet.</h1>
                    <p>
                        <a class="pure-button pure-button-primary" href="#/new-app" action="app.new">Create one</a>
                    </p>
                {{else}}
                    <p>
                        <a class="pure-button pure-button-primary" href="#/new-app" action="app.new">Create a Spark App</a>
                    </p>
                {{/ifCond}}
                
                <div id="applist">
                  <div class="loading_dots">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
              
              </div>
              
            </div>
          </div>
        </div>
        
        <div id="modals"></div>
        <script>
        var DOMAIN = false;
        var PKG = false;
        </script>
        <script data-main="/js/app.min" src="/js/require.js"></script>
    </body>
</html>
