<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{app_name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
        <meta http-equiv="cleartype" content="on">
        <meta name="description" content="" />
      	<meta name='keywords' content=''/>

        <link rel="author" href="/humans.txt">
        
        <link href="/css/main.css" rel="stylesheet">

        <meta property="og:title" content="SparkDash Mobile Analytics.">
        <meta property="og:type" content="company">
        <meta property="og:image" content="http://semanticpress.com/assets/img/logos/sparkdash.png">
        <meta property="og:site_name" content="SemanticPress.com">
        <meta property="og:url" content="http://SemanticPress.com/">
        <meta property="og:description" content="">   

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/img/logos/favicon.png" type="image/png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/logos/apple-touch-icon-144.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72.png">
        <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57.png">
    </head>

    <body controller="launchpad">
        
        <div id="layout" class="pure-g-r">

          <div id="main" class="pure-u-1">
            <div id="main-menu-container" class="pure-g">
              <div id="main-menu-tabs" class="pure-u-1">
                <nav>
                  <ul>
                    <li class="active" action="tab.launchpad"><a href="/">LaunchPad</a></li>
                    <li action="tab.apps"><a href="/apps">Apps</a></li>
                    <li action="tab.data"><a href="/data">Data</a></li>
                  </ul>
                </nav>
              </div>
              <div class="pure-u-1" style="text-align:center;padding:4px;font-size:18px;opacity:0.9;color:#fff;width:200px;margin:auto;">{{#domain}}{{title}}{{/domain}}</div>
              <div id="main-menu-login" class="pure-u-1">
                <nav>
                  <ul>
                    <li action="user.settings" style="padding:6px;margin-right:20px;font-size:14px;opacity:0.5;font-weight: lighter;">{{#user}}{{username}}{{/user}}</li>
                    <li class="active" action="user.logout">sign out</li>
                  </ul>
                </nav>
              </div>
            </div>

            <div id="main-container">
              
              <div style="padding-top:60px;font-size:66px;margin:0;text-align:center;font-weight: 100;font-family:'Helvetica'">Welcome</div>
              <div style="width:33%;margin:auto;font-size:35px;line-height: 50px;font-weight: 100;font-family: Helvetica;text-align: justify;">
                <p>To get started <a href="#/download" style="background-color:#ffffaa;color:#333;text-decoration:none;padding:5px;font-size:90%;border-bottom: 2px solid #FFEE00;" action="download">download Spark</a> and then create an <a href="/apps" style="background-color:#ffffaa;color:#333;text-decoration:none;padding:5px;font-size:90%;border-bottom: 2px solid #FFEE00;">app key</a>. After that, read the <a href="http://docs.semanticpress.com" style="background-color:#ffffaa;color:#333;text-decoration:none;padding:5px;font-size:90%;border-bottom: 2px solid #FFEE00;">docs</a>   and check the <a href="http://support.semanticpress.com" style="background-color:#ffffaa;color:#333;text-decoration:none;padding:5px;font-size:90%;border-bottom: 2px solid #FFEE00;">help desk</a>.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div id="modals"></div>
        
        <script>
        var DOMAIN = false;
        var PKG = false;
        </script>
        <script data-main="/js/app.min" src="/js/require.js"></script>
    </body>
</html>
