<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{app_name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
        <meta http-equiv="cleartype" content="on">
        <meta name="description" content="" />
      	<meta name='keywords' content=''/>

        <link rel="author" href="/humans.txt">
        
        <link href="/css/sparkdash/main.css" rel="stylesheet">

        <meta property="og:title" content="SparkDash Mobile Analytics.">
        <meta property="og:type" content="company">
        <meta property="og:image" content="http://semanticpress.com/assets/img/sparkdash/logos/sparkdash.png">
        <meta property="og:site_name" content="SemanticPress.com">
        <meta property="og:url" content="http://SemanticPress.com/">
        <meta property="og:description" content="">   

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" href="/img/sparkdash/logos/favicon.png" type="image/png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/sparkdash/logos/apple-touch-icon-144.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/sparkdash/logos/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/sparkdash/logos/apple-touch-icon-72.png">
        <link rel="apple-touch-icon" href="/img/sparkdash/logos/apple-touch-icon-57.png">
    </head>

    <body controller="dash" class="unselectable">
        
        <aside id="status-bar">
          <p>You are offline</p>
        </aside>
        
        <div id="content">
        
          <div id="header" action="showAppHandlers">
            <div class="title">Field Service</div>
            <div class="subtitle">com.test.app</div>
          </div>
        
          <div id="layout" class="pure-g-r">
          
            <a href="#menu" id="menuLink" class="pure-menu-link">
              <span></span>
            </a>
                    
            <div id="menu" class="pure-u">
              <div id="menu-logo" action="openDashboard"></div>
              <div id="app_tabs"></div>
              <div id="menu-bottom" class="settings" action="openSettings">
                <div action="openSettings">Settings</div>
              </div>
              <div id="menu-bottom" class="console" action="openConsole">
                <div action="openConsole">Console</div>
              </div>
            </div>

            <div id="main" class="pure-u-1">
            
              <div id="main-menu-container" class="pure-g">
                <div id="menu-right" class="pure-u-1"></div>
              </div>

              <div id="main-container" class="pure-g-r"></div>
            
            </div>
          
          </div>
        
        </div>
        
        <div id="terminal"></div>
        
        <div id="modals"></div>
        
        <script>
        var DOMAIN = '{{#domain}}{{.}}{{/domain}}';
        var PKG = '{{#app}}{{appPackage}}{{/app}}';
        var ID = '{{#app}}{{_id}}{{/app}}';
        </script>
        <script data-main="/js/sparkdash/sparkdash.min" src="/js/sparkdash/require.js"></script>
        
        <!-- Force 3d acceleration always and forever :) -->
        <div style="-webkit-transform: translateZ(0)"></div>
    </body>
</html>
